<div class="header--panel">
		<div class="header--logo">
			<a href="/"><img src="%%LOGO_SMALL_URL%%" class="header--logo__image"></img></a>
		</div>
		<div class="header--links">
				%%PLAYER_OR_PREPROD%%<br/>
				<a href="/">Home</a>, <a href="/profile">Profile</a>, <a href="/status">Service Status</a>, <a href="/credits">Credits</a>, <a href="/cookies">Cookies</a>, <a href="/privacy">Privacy</a>, <a href="/skin_server">Skin Server</a>, <a href="/accessibility_options">Accessibility Options</a>
		</div>
		<div class="header--login">
			%%LOGIN_BANNER%%
		</div>
</div>
