<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        
        <!--<span class="error-text">Please note that skin/cape uploading currently does not work.</span>-->
        <h2>Administrator Panels</h2>
        Welcome to the Administrator Panels. Based on your administrative privileges, options to access your relevant administrations panel should appear below.<br /><br />

        %%ADMIN%%<br />

        <br />
        <br />
       

        <br />
        <br />
    </div>
</div>