<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        
        <h2>Administration Panel - Status</h2>
        <a href="/admin/status">Change Statuses</a> | Add Service<br /><br />
        Use this page to change the status of ActionMC services.<br /><br />
        <table class="admin--table">
            <tr>
                <th>Service</th>
                <th>URL/IP</th>
                <th>Status</th>
            </tr>
            %%STATUS_TABLE%%
        </table>



        <br />
        <br />
    </div>
</div>