
<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <h2>Cookies</h3>

        <p>We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you've provided to them or that they've collected from your use of their services.</p>
        
The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission. <br /><br />

This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.<br />

<h2>Necessary Cookies</h2>
<p><i>Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</i></p>
<strong>As the site will not function without necessary cookies, you must allow us to use these cookies in order to access the site.<br /></strong>
<h3>List of Necessary Cookies</h3>
<table class="admin--table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Expiry</th>
  </tr>
  <tr>
    <td>AMC_SESSION</td>
    <td>Used to identify your login session.</td>
    <td>Session</td>
  </tr>
  <tr>
    <td>AMC_CONSENT</td>
    <td>Stores your cookie consent.</td>
    <td>2 years</td>
  </tr>
</table>
<h2>Preference Cookies</h2>
<p><i>Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.</i></p>
<strong>These cookies are entirely optional - some features of the site may not work properly, such as accessibility features.<br /></strong>
<h3>List of Preference Cookies</h3>
<table class="admin--table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Expiry</th>
  </tr>
  <tr>
    <td>accessibility</td>
    <td>Used to save accessibility settings.</td>
    <td>2 years</td>
  </tr>
</table><Br />
<h2>Cookie Consent</h2>
<p>Please use the below form to express your consent to the collection of necessary cookies, and to express whether or not you wish for preference cookies to be used.</p>
<p>You may change your consent at any time by checking our Cookie Declaration.</p>

<form name="input" action="/cookie_consent/submit" method="POST">
<label for="necessary"><strong>Necessary Cookies</strong></label>
  <input type="checkbox" id="necessary" name="necessary" value="necessary" autocomplete="off" checked="true" disabled>
  <Br /><br />
   <label for="preference"><strong>Preference Cookies</strong></label>
    <input type="checkbox" id="preference" name="preference" value="preference" autocomplete="off"><br /><br />
 
  <input type="submit" value="Submit"></input>
    </div>
</div>