<div class="main--container">
    <div class="page--content">
        <br />
        <br />
        <h2>Cookie Declaration</h2>
       This website uses cookies. We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you've provided to them or that they've collected from your use of their services.<Br /><br />

Cookies are small text files that can be used by websites to make a user's experience more efficient.<Br /><br />

The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.<Br /><br />

This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.<Br /><br />

You can at any time change or withdraw your consent from the Cookie Declaration on our website.<Br /><br />

Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.<Br /><br />

Please state your consent ID and date when you contact us regarding your consent.<Br />

<h2>Cookie Consent</h2>

Your current state: %%CONSENT_STATE%%<br /><br />

Your consent ID: %%CONSENT_ID%%<br /><br />
Consent date: %%CONSENT_DATE%%<br /><br />

<a href="/cookie_consent">Change your consent</a> | <a href="/cookie_consent/withdraw">Withdraw your consent</a>

        <br />
        <br />
    </div>
</div>