<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <h2>Main Developers:</h2>
        <ul>
            <li>xFuney/fnuer/Sniper_TF2/Virtue (<a href="https://github.com/xFuney">GitHub</a>)</li>
            <li>Alex Hall/UltraBear/NeXTSTEP (<a href="https://github.com/ultrabear">GitHub</a>, <a href="https://ultrabear.xyz">Website</a>)</li>
        </ul>
        <h2>Libraries Used:</h2>
        <ul>
          <li><a href="https://github.com/buger/jsonparser">JSON Parser</a> by Leonid Bugaev (<a href="https://github.com/buger">GitHub</a>) [MIT License]</li>
<li><a href="https://github.com/gorilla/mux">Gorilla Mux</a> by Gorilla Web Toolkit (<a href="https://github.com/gorilla">GitHub</a>) [BSD 3-Clause "New" or "Revised" License]</li>
<li><a href="https://github.com/mattn/go-sqlite3">Go SQLite3</a> by mattn (<a href="https://github.com/mattn">GitHub</a>) [MIT License]</li>
<li><a href="https://github.com/nu7hatch/gouuid">Go UUID</a> by Kris Kovalik (<a href="https://github.com/nu7hatch">GitHub</a>) [MIT License]</li>
<li><a href="https://github.com/pbnjay/memory">Memory</a> by Jeremy Jay (<a href="https://github.com/pbnjay">GitHub</a>) [BSD 3-Clause "New" or "Revised" License]</li>
<li><a href="https://github.com/pollen5/discord-oauth2">Discord OAuth2</a> by Raven Ravener (<a href="https://github.com/ravener">GitHub</a>) [MIT License]</li>
<li><a href="https://github.com/shirou/gopsutil">Gopsutil</a> by shirou (<a href="https://github.com/shirou">GitHub</a>) [BSD 3-Clause "New" or "Revised" License]</li>
<li><a href="https://github.com/golang/oauth2">OAuth2</a> by Golang (<a href="https://github.com/golang">GitHub</a>) [BSD 3-Clause "New" or "Revised" License]</li>
        </ul> 
        <br />
        A copy of the licenses for the above software can be found <a href="/licenses">here</a>.<br /><br />
        "Minecraft" is a trademark of Mojang Synergies AB. "LEGO" is a trademark of the LEGO Group of companies. All rights reserved.<br /> <br />

        "ActionMC" has no affiliation with Mojang Synergies AB or Microsoft.<br /><br />
        <i>Last Updated: 2021-08-24T17:49:40Z</i>
        <br />
        <br />
        
    </div>
</div>