<div class="main--container">
            
    <div class="page--content">
        <br /><br /><br />
        <center>
            
            <img src="%%LOGO_BIG_URL%%"><br>
            IP: ppc.actionmc.ml<br />
            <br>
            This server uses Minecraft 1.2.5, any other versions will not connect!
            <br>
            Downloads [Useful stuff!]: <a href="/leaving?url=https://optifine.net/adloadx?f=OptiFine_1.2.5_HD_C3.zip">Optifine</a> | <a href="/leaving?url=https://cdn.discordapp.com/attachments/796450857407086663/796481019003535390/minecraft.jar">Nodus</a><br>
        
        <div class="new-webbutton">
              <p><b>NEW:</b> <a href="/web_button">Get the ActionMC Web Button!</a></p>
            </div>
        </center>
        <h2>What we are:</h2>
        We are a small server for a game called <a href="/leaving?url=https://minecraft.net">Minecraft</a>, which is a game "about placing blocks while running from skeletons". In our case, we run a Creative Mode server which turns this game into what could be classed as video game LEGOs.
        <br /><br />
        Here is a picture of the server, click it to see more:<p></p>
        <a href="%%RANDOM_GOTO%%"><img src="%%RANDOM_URL%%" width="640" height="385" alt="Preview of server. Click to see more images."/></a><br /><br />
        The server runs on a Mac Mini with a Core 2 Duo. We run the server with Java 8 on Adelie Linux for maximum performance gain. The server is hosted by Sean of <a href="/leaving?url=https://actionretro.com">Action Retro</a> on his own personal Mac Mini.
        <h2>News:</h2>
        Please note that you have to be active on the <a href="/leaving?url=https://discord.gg/hXTehk4PeG">Action Retro Discord</a> to play here. Begging for whitelisting will not get you anywhere. This is to prevent the server being griefed by bad actors in the community.
        <br />
        <br />

    </div>
</div>