<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <h2>Leaving actionmc.ml</h2>
        You are about to go to <i>%%URL%%</i>.<br /><br />
        We are not responsible for the contents of external web sites as their content can change at any time, usually without any notice.<br /><br />
        Do you wish to proceed?
        <button onclick="window.location.replace('%%URL%%');">Yes, take me there.</button> <button onclick="window.history.back();">No, I want to go back!</button>
        <br />
        <br />
    </div>
</div>