<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <center>
        <img src="%%LOGO_BIG_URL%%"><br>
        <h2>Site under Maintenance</h2>
        This website is currently under maintenance. We're working on restoring services as soon as possible.<br /><br />
        Sorry for the inconvenience.<br /><br /><hr />
        <Br />
        <i>If you are an administrator, <a href="/login">login</a> to access the Administration Panel.</i>
        </center>
        <br />
        <br />
        
    </div>
</div>