<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <h2>What is pre-production:</h2>
        This is a development stage prior to full production. There may be new changes here on both the backend and frontend of the site - this is where they are all tested. <br/><br />
        <strong>Please note that pre-production is highly volatile, and both safety and security of data cannot be guaranteed. You are signing up to the pre-production website at your own risk.</strong><br />
        <br />Besides, the only things we actually store are your Discord ID (public information), Minecraft username (public information) and whitelist state.
        <br /><br />
        <h2>Additional Data Collection:</h2>
        As this is a pre-production site, we may conduct additional data collection at any time. We may collect this information to:
        <ul>
            <li>Gather user interest in specific features.</li>
            <li>Diagnose and resolve errors in the website.</li>
            <li>Contact a user if we require additional information about an error.</li>
        </ul>
        Please note that a developer will NOT ask for any "session tokens"/"session cookies". Anyone who requests such information should be reported directly to the real development team.<br /><br />
        The following is a list of additional information that may be collected:
        <ul>
            <li>IP Address</li>
            <li>User Agent of your Browser</li>
            <li>Pages Accessed on this Site</li>
            <li>Type of Request (GET, POST, HEAD etc.)</li>
        </ul>
        This data will be printed to a terminal screen, and should not be stored on disk unless otherwise stated above.
        <br />
        <br />

    </div>
</div>