<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        
        <!--<span class="error-text">Please note that skin/cape uploading currently does not work.</span>-->
        <h2>Profile</h2>
        Username: %%MC_USERNAME%% (click <a href="/profile/edit/username">here</a> to change)<br /><br />
        Discord ID: %%D_ID%%<br /><br />
        State: %%STATE%%<br /><br />

        %%ADMIN_ACCESS%%
        
        <H2>(ALPHA) Single-Use Login Token</H2>
        We're testing a new feature where you don't have to use passwords to log into ActionMC. This is designed so we do not need to store passwords on the Minecraft server, and to alleviate the need for password resets.<br /><br />
        Click <a href="/profile/sut">here</a> to get your single-use login token. 

        <H2>Change how your skin looks in ActionMC</H2>
        %%SKIN_CHANGE%%


        <br />
        <br />

        <H2>Change how your cape looks in ActionMC</H2>
        %%CAPE_CHANGE%%

        <br />
        <br />
       

        <br />
        <br />
    </div>
</div> 