<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        
        <h2>Register a new account</h2>
        <form name="input" action="/register/submit" method="GET">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" value="" required/></td>
                    
                </tr>
                <tr>
                    <td>Discord ID:</td>
                    <td>%%D_ID%%</td>
                </tr>
                <tr>
                    <td colspan="2"><p>Then click here: <input type="submit" value="Register"/> (make sure you haven't made any typos)</td>
                </tr>
            </table>
            <br />
            <br /><!-- TODO(ultrabear) ActionRetro has suggested we add instructions on how to get whitelisted here -->
    </div>
</div>
