<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        
        <h2>Action Retrospective 2021</h2>
        Hello to everyone coming from the Action Retrospective video!<br /><br />
        It's been a great year for Action Retro as well as ActionMC and we thank you for spending your time with us.
        <h2>Server Situation</h2>
        Despite what Sean said in the video, the server is still down as the Mac Mini has not been connected to our infrastructure at the new location. <br/><br/>We are unsure of an ETA but we hope to get the server up soon.
        <br /><br />
        <strong>Hope to see you soon!</strong><br /><br />
        <strong>~ ActionMC Administrators and Action Retro Discord Moderators/Administrators</strong>
        <br /><br /><br />
        
    </div>
</div>