<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <center>
        <h3>Your single-use token is:</h3>
        <h1>%%TOKEN%%</h1>
        <i>This code changes every 30 seconds - if you try to log in and it doesn't work, click <a href="/profile/sut">here</a> to try again.</i><br /><br />
        <!--<i>Want to pair your single-use token to your mobile device? <a href="/profile/sut/pair">Get your authenticator QR code here.</a><br/><br/>!--><hr />
        <Br />
        <i>Click <a href="/profile">here</a> to go back.</i>
        </center>
        <br />
        <br />
        
    </div>
</div>