<div class="main--container">
    <div class="page--content">
        <br /><br /><br />
        <h2>ActionMC Web Button</h2>
        Advertise ActionMC on your website with this small 88x31 web button!<br /><br /><br /><br />
        <center>
          <img src="/static/img/web_button.gif" />
          <p><i>(right click, select Save Image As)</i></p>
        </center><br /><br />
        
        As tempting as it may be, please do not link directly to the image hosted on our web server.<br /><br /><b>Download the image and store it on your web server.</b>
        
        <br />
        <br />

    </div>
</div>